		<header>
			<hgroup id="tagline" class="blue box-tagline bottom-padding">
				<h1 id="tagline-1">Big Enough to Deliver</h1>
				<div class="clearfix"></div>
				<h2 id="tagline-2" class="float-left">Small enough to care</h2>
				<button class="action-button float-right yellow"><h2>Learn more >></h2></button>
				<div class="clearfix"></div>
			</hgroup>
			
			<div class="clearfix"></div>
			
			<nav id="main-nav">
				<ul>
					<li class="grid_2 alpha green box-main-nav"><h2><%= link_to "Home", root_path %></h2></li>
					<li class="grid_2 green box-nopadding"><h2><%= link_to "About", about_path %></h2></li>
					<li class="grid_2 green box-nopadding"><h2><%= link_to "Past Events", past_events_path %></h2></li>
					<li class="grid_2 green box-nopadding"><h2><%= link_to "Get Involved", get_involved_path %></h2></li>
					<li class="grid_2 green box-nopadding"><h2><%= link_to "Events", events_path %></h2></li>
					<li class="grid_2 omega green box-nopadding"><h2><%= link_to "Blog", blog_path %></h2></li>
				</ul>
			</nav>
		</header>
		
		<div class="clearfix bottom-padding"></div>
